.homeP{
    font-size: 12;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: justify;
    margin: 10px 10px;
}

.HomeImg{
    width: 150px;
    margin-right: 5px;
}


.diVImg{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.diVText{
    margin: 20px 20px;
    padding: 3px 10px;
    border: #499098 5px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 90%;
    text-align: justify;
    align-items: center;
}