.header{
    font-size:1.2rem;
    font-weight:bold;
    padding: 10px;
    background: var(--bg-gradient);
    top: 0;
    width: 100%;
}
.input{
    background-color: rgba(121,121,121,0.267);
    padding: 10px 10px;
    border-radius: 5px;
    margin:10px 10px;
    border:none;
}

.inputdiv{
    width: 100%;
}

.pokeballImg{
    width: 350px;

}